body, html {
  text-align: center;
  font-family: Gotham, Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #ff8641;
}

section {
  width: 50%;
  margin: auto;
}

h1 {
  font-size: 2em;
  color: #7b7d70;
}

h2 {
  font-size: 1.5em;
  color: #4eafb8;
}

/*----------tablet 768px and larger---------*/

@media (min-width: 768px){
   p {
      color: #7b8f8e;
   }

   h1 {
      color: #02cbd2;
   }

   h2 {
      color: #fcc02a;
   }
}

/*---------------desktop 1200px and larger-------------*/

@media (min-width: 1200px) {
   p {
      color: #c19e74;
   }

   h1 {
      color: #6e4b61;
   }

   h2 {
      color: #cabd61;
   }
}
